.canvas-container{
  display: flex;
  height: 600px;
  width: 85%;
  margin: auto;
  /* background-color: black; */
  margin-top: 3%;
}

.circle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: red;
  /* position: absolute; */
  /* margin: auto; */
}
